.all-blocks-page {
    background-color: whitesmoke;
}

.page-header {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.page-title {
    margin-top: 20px;
}

.u-page-title h4 {
    color: grey;
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
}

.u-page-title p {
    font-size: 13px;
    text-align: left;
}

.dashboard-span {
    border-left: 1px solid #000;
    margin-left: 5px;
    padding-left: 10px;
}

.dashboard-span a {
    text-decoration: none;
    margin-left: 2px;
}

.featured {
    font-weight: bold;
    color: grey;
}

.sign-up-today a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.page-title .b-desc {
    text-align: left;
    font-size: 13px;
}

.b-desc {
    text-align: left;
    font-size: 13px;
}

.b-desc p a {
    color: #3498db;
    text-decoration: none;
}